@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes-Thin.woff');
         
}
@font-face {
    font-family: 'TT Lakes2';
    src: url('font/TTLakes-Bold.woff');
}

@font-face {
    font-family: 'TT Lakes3';
    src: url('font/TTLakes-ExtraBold.woff');
}

body{
    width: 100%;
    margin: 0 auto;
    
}



.main-content {
    display: flex;
    height: 1024px;
    
}
.main-content__block1 {
    width: 320px;
    box-shadow: 35px 0px 60px 0px rgba(0,0,0,.2);
    overflow-y: scroll;
}

.icon > img {
    width: 40px;
    height: 40px;
}

 .main-content__logos {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-top: 5%;
     padding-bottom: 12% ;
     padding-left: 4%;
 }

 .main-content__logo3, .main-content__logo2, .main-content__logo1{
     display: flex;
     align-items: center;
}

.main-content__logo2{
    padding-left: 5%;
}
.main-content__logo3{
    margin-left: auto;
    margin-right: 15% ;
}
.section{
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 4%;
    font-family: 'TT Lakes2';
}

.main-content__section1{
    font-family: 'TT Lakes2';
    color: rgb(123, 129, 129);
    border-left: 5px solid #41f6d7;
    
}

 .main-content__icons {
     
     display: flex;
     justify-content: flex-start;
     margin-top: 81%;
     padding-left: 4%;
     
 }

 .main-content__icon2, .main-content__icon3{
     margin-left: 7%;
 }

 .main-content__mail{
    font-family: 'TT Lakes2';
    padding-left: 4%;
 }

 .main-content__phone{
    font-family: 'TT Lakes3';
    font-size: 150%;
    padding-left: 4%;
 }

.main-content__languages{
    display: flex;
    margin-top: 14%;
    font-family: 'TT Lakes2';
    padding-left: 4%;
    
}

.language{
    margin: 0px 2% 0px 0px;
   
}

.main-content__language1{
    color: rgb(123, 129, 129);
} 